<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Welcome</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="row col-sm-6" style="border: 1px ridge #003312; padding:20px; float: none; margin: 0 auto;">
  <h5 class="text-center" style="font-size: 25px">Welcome <span th:text="${username}"></span></h5>
  <form th:action="@{/tasks}" method="get">
    <button type="submit" class="btn btn-primary btn-block">Get Tasks</button>
  </form>
  <!--This is how the tasks should be presented, but the list is empty because Web API lacks authorization to fetch and redirects to login page. The ModelAndView contains the HTML of the login page.-->
  <div th:if="${not #lists.isEmpty(tasks)}">
    <table>
      <thead> …</thead>
      <tbody>
      <tr th:each="task : ${tasks}">
        <td th:text="${task.name}">John</td>
      </tr>
      </tbody>
    </table>
  </div>
  <form th:action="@{/tasks}" method="post" enctype="application/json">
    <div class="form-group">
      <label for="taskname">Task Name: </label>
      <input type="text" class="form-control" id="taskname" placeholder="Enter Task Name" name="taskname"/>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Submit Task</button>
  </form>
  <form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
  </form>
</div>
</body>
</html>